<%# <p style="color: green"><%= notice %>
<%# </p> %>

<% content_for :title, "Friends" %>

<h1 class="d-none">Friend List</h1>

<div id="friends">
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
        <%# <th>user_id</th> %>
        <th colspan="3">Actions</th> <!-- For Show, Edit, Destroy links -->
      </tr>
    </thead>

    <tbody>
      <% @friends.each do |friend| %>
        <% if friend.user != current_user %>
          <% next %>
        <% end %>
        <tr>
          <td><%= friend.first_name %></td>
          <td><%= friend.last_name %></td>
          <td><%= friend.email %></td>
          <td><%= friend.phone %></td>
          <td><%= friend.twitter %></td>
          <%# <td><%= friend.user_id %><%#</td> %>
          <td><%= link_to "Show", friend %></td>
          <td><%= link_to "Edit", edit_friend_path(friend) %></td>
          <td><%= link_to "Destroy", friend, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
          <%# Adjust the Edit/Destroy links/paths if needed %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New friend", new_friend_path, class:"btn btn-secondary" %>